/* common styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}
.sa-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sa-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.title{
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* hedder related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.benner{
    padding: 30px 38px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benner-content{
    max-width: 500px;

}
.imgmy{
    height: 500px;
}
.greet{
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-02, #474747);
    margin-bottom: 0;
}
.greet2{
    margin-top: 5px;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0;
}
.greet3{
    margin-top: 5px;
    font-size: 18px;
}
/* main related styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about section styles */
.about{
    padding: 130px;
    margin: 130px 0;
    border-radius: 10px;
    background: #FFF8F3;
}
.sa-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.saf-container{
    display: flex;
    justify-content: space-around;
}
.sa-info{
    text-align: center;
}
/* what i do related styles */
#what{
    padding: 30px 150px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background:#ffffff;
    width: 267px;
    height: 377px;
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    
}
